body {
  margin: 50px 0 0 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #eaf5fc url('../img/cat2.jpg') top 72px left 20px no-repeat; */
  background-color:  #eaf5fc;
  background-image: url('../img/cat2.jpg');
  background-size: 330px 330px;
  background-position: 72px 145px;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
